/* Style Guide */
:root{
  --color-primary-strongest: #212529; 
  --color-primary-strong: #31373D;
  --color-primary-moderate: #64707D;
  --color-primary-weak: #B6CCE3;
  --color-primary-weakest: #CAE3FC;
}