body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: left;
}

.container {
  position: relative;
}

.fade-container {
  position: relative;
}

.fade-enter, .fade-appear {
  opacity: 0;
  position: absolute;
  
}

.fade-enter-active, .fade-appear-active {
  opacity: 1;
  display: none;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms;
}

.page-wrapper{
  margin-left: 280px;
}
